<div class="navbar">
<%= link_to "Home", root_path %>
<%= link_to "All Products", products_path %>
</div>

<h1>Mario's Specialty Food Products</h1>

<h2>About Mario's</h2>
<p>Mario's is probably the newest food fad.</p>

<% if @products.any? %>
  <h2>Mario's Three Newest Creations</h2>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product.id) %></li>
    <% end %>
  </ul>
  <h2>Mario's Most Reviewed Product</h2>
  <p><%= link_to @most_reviewed_product.first.name, product_path(@most_reviewed_product.first.id) %></p>
<% else %>
  <p>Mario's is so popular that it sold out of everything and you were too slow get get anything. Try being faster next time.</p>
<% end %>
