<h1>Mario's Specialty Food Products</h1>

<% if @products.any? %>
  <h2>Mario's Three Newest Creations</h2>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product.id) %></li>
    <% end %>
  </ul>
  <h2>Mario's Most Reviewed</h2>
<% else %>
  <p>Mario's is so popular that it sold out of everything and you were too slow get get anything. Try being faster next time.</p>
<% end %>
