h1 {
  color: #131516;
}

.container {
  color: #555f61;
}

.review {
  background-color: #fffee6;
  width: 300px;
}

.more_content {
  display: none;
}

.less_content {

}

#usa_products {
  display: none;
}
