<h1>All Products</h1>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product.id) %></li>
    <% end %>
  </ul>
<% else %>
  <p>We're sorry we don't currently have any products available.</p>
<% end %>

<%= link_to "Add a new product", new_product_path %>
